include *.txt
recursive-include graphlab *.so *.so.1 *.dylib *.pyd *.dll unity_server pylambda_worker *to*pickle graphlab-create-spark-integration.jar spark_pipe_wrapper *.exe
recursive-include *.pyd *.so
