export("$")
export("&.sarray")
export("*.sarray")
export("+.sarray")
export("-.sarray")
export("/.sarray")
export("<.sarray")
export("<=.sarray")
export("==.sarray")
export(">.sarray")
export(">=.sarray")
export("[")
export("[<-")
export("as.vector")
export("colnames<-")
export("|.sarray")
export(sframe.package.skeleton)
export(add_edges)
export(add_vertices)
export(as.sarray)
export(as.sframe)
export(as.sframe.data.frame)
export(as.sframe.sarray)
export(as.sframe.vector)
export(astype)
export(cbind.sframe)
export(colnames)
export(del)
export(dict)
export(dropna)
export(edge_fields)
export(edges)
export(fields)
export(gl_dict)
export(gl_sarray)
export(gl_sframe)
export(gl_sgraph)
export(ggplot.sframe)
export(group_by)
export(is.dict)
export(is.empty)
export(is.sarray)
export(is.sframe)
export(is.sgraph)
export(join)
export(keys)
export(load.csv)
export(load.sframe)
export(load.sgraph)
export(max)
export(mean)
export(min)
export(num_edges)
export(num_vertices)
export(pack_columns)
export(random_split)
export(rbind.sframe)
export(rename)
export(rm.col)
export(sarray)
export(save.sarray)
export(save.sframe)
export(save.sgraph)
export(sd)
export(select_edge_fields)
export(select_fields)
export(select_vertex_fields)
export(sfapply)
export(sframe)
export(sgraph)
export(sort_by)
export(stack_columns)
export(sum)
export(topk)
export(unpack_columns)
export(unstack_columns)
export(values)
export(vertex_fields)
export(vertices)
exportClasses(dict)
exportClasses(sarray)
exportClasses(sframe)
exportClasses(sgraph)
exportMethods("%in%")
exportMethods(as.data.frame)
exportMethods(c)
exportMethods(head)
exportMethods(length)
exportMethods(ncol)
exportMethods(nrow)
exportMethods(sample_frac)
exportMethods(sort)
exportMethods(tail)
exportMethods(unique)
import(Rcpp)
import(methods)
import(RApiSerialize)
useDynLib(libunity_shared)
useDynLib(librcpplambda_shared)
useDynLib(sframe)
