cython==0.24
Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.8
decorator==4.0.9
itsdangerous==0.24
mock==2.0.0
nose==1.3.7
nltk==3.2.1
numpy==1.11.0
pandas==0.18.0
pytz==2016.3
requests==2.9.1
scikit-learn==0.17.1
scipy==0.17.0
six==1.9.0
tornado==4.3
wheel==0.29.0
statsmodels
pillow
